Repository NVIDIA/ais-etl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, build:echo, build:hello_world, build:md5, build:hash_with_args, build:tar2tf, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_split_consolidate, build:ffmpeg, build:batch_rename, build:runtime-python

Path conditions:
  lint: (not (any of: transformers/**/*)) and (any of: transformers/**/*)
  build:echo: any of: transformers/echo/**/*, transformers/go_echo/**/*, transformers/tests/test_echo.py
  build:hello_world: any of: transformers/hello_world/**/*, transformers/go_hello_world/**/*, transformers/tests/test_hello_world.py
  build:md5: any of: transformers/md5/**/*, transformers/tests/test_md5.py
  build:hash_with_args: any of: transformers/hash_with_args/**/*, transformers/tests/test_hash_with_args.py
  build:tar2tf: any of: transformers/tar2tf/**/*, transformers/tests/test_tar2tf.py
  build:compress: any of: transformers/compress/**/*, transformers/tests/test_compress.py
  build:torchvision: any of: transformers/torchvision_preprocess/**/*, transformers/tests/test_torchvision_transformer.py
  build:keras: any of: transformers/keras_preprocess/**/*, transformers/tests/test_keras_transformer.py
  build:face_detection: any of: transformers/face_detection/**/*, transformers/tests/test_face_detection.py
  build:audio_split_consolidate: any of: transformers/NeMo/audio_split_consolidate/**/*, transformers/tests/test_audio_split_consolidate.py, transformers/tests/test_audio_split.py
  build:ffmpeg: any of: transformers/FFmpeg/**/*, transformers/go_FFmpeg/**/*, transformers/tests/test_ffmpeg.py
  build:batch_rename: any of: transformers/batch_rename/**/*, transformers/tests/test_batch_rename.py
  build:runtime-python: any of: runtime/python/**/*

remove stale deploy directory
  README.md
  deploy/README.md
  deploy/docker/Dockerfile
  deploy/docker/entrypoint.sh
  deploy/docker/start.sh
Due: none

transformers: bump go_echo, go_FFmpeg, go_hello_world to aistore v1.4.7
  transformers/go_FFmpeg/Dockerfile
  transformers/go_FFmpeg/src/go.mod
  transformers/go_FFmpeg/src/go.sum
  transformers/go_echo/Dockerfile
  transformers/go_echo/src/go.mod
  transformers/go_echo/src/go.sum
  transformers/go_hello_world/Dockerfile
  transformers/go_hello_world/src/go.mod
  transformers/go_hello_world/src/go.sum
Due: build:echo, build:hello_world, build:ffmpeg

transformers/parquet-parser: upgrade to current ETL webserver framework
  transformers/parquet-parser/Dockerfile
  transformers/parquet-parser/src/go.mod
  transformers/parquet-parser/src/go.sum
  transformers/parquet-parser/src/main.go
Due: none

remove stale tensorflow client refs and dead code
  README.md
  docs/README.md
  examples/imagenet_from_disk.py
  examples/imagenet_in_memory.py
  examples/in_memory_notebook.ipynb
  examples/remote_execution.ipynb
  transformers/README.md
  transformers/hash_with_args/server.py
Due: build:hash_with_args

transformers: bump golang.org/x/{net,sys} + replace disintegration/imaging w/ bild
  transformers/go_FFmpeg/src/go.mod
  transformers/go_FFmpeg/src/go.sum
  transformers/go_echo/src/go.mod
  transformers/go_echo/src/go.sum
  transformers/go_hello_world/src/go.mod
  transformers/go_hello_world/src/go.sum
  transformers/parquet-parser/src/go.mod
  transformers/parquet-parser/src/go.sum
  transformers/tar2tf/Dockerfile
  transformers/tar2tf/src/go.mod
  transformers/tar2tf/src/go.sum
  transformers/tar2tf/src/transforms/job.go
Due: build:echo, build:hello_world, build:tar2tf, build:ffmpeg

transformers: bump pillow/tensorflow/scipy floors
  transformers/face_detection/requirements.txt
  transformers/keras_preprocess/requirements.txt
  transformers/torchvision_preprocess/requirements.txt
Due: build:torchvision, build:keras, build:face_detection

transformers: bump go.opentelemetry.io/otel + pillow and keras floors
  transformers/face_detection/requirements.txt
  transformers/keras_preprocess/requirements.txt
  transformers/parquet-parser/src/go.mod
  transformers/parquet-parser/src/go.sum
  transformers/tests/requirements.txt
  transformers/torchvision_preprocess/http-multithreaded-server/requirements.txt
  transformers/torchvision_preprocess/requirements.txt
Due: build:torchvision, build:keras, build:face_detection

docs: add security policy
  SECURITY.md
Due: none

runtime: remove obsolete IO communicator
  runtime/python/io-comm/Makefile
  runtime/python/io-comm/cmn.go
  runtime/python/io-comm/go.mod
  runtime/python/io-comm/main.go
Due: build:runtime-python

github: remove links checker workflow
  .github/workflows/links-checker.yml
Due: none

fix(hash_with_args): honor explicit default_seed=0 instead of env fallback
  transformers/hash_with_args/fastapi_server.py
  transformers/hash_with_args/flask_server.py
  transformers/hash_with_args/http_server.py
  transformers/tests/test_hash_with_args.py
Due: build:hash_with_args

fix: docstring references non-existent host parameter
  transformers/hash_with_args/flask_server.py
Due: build:hash_with_args

runtime/python: enable building for 3.14
  runtime/python/Dockerfile
  runtime/python/builder.sh
Due: build:runtime-python
