Repository NVIDIA/ais-etl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:echo, build:hello_world, build:md5, build:tar2tf, build:compress, build:ffmpeg, build:torchvision, build:keras

build:echo:
  when: manual
  stage: build
  tags:
  - ais
  variables:
    GIT_TEST: 'true'
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
  script:
  - cd transformers
  - cd echo && make -B all
  - cd ..
  - cd go_echo && make -B all

build:hello_world:
  when: manual
  stage: build
  tags:
  - ais
  variables:
    GIT_TEST: 'true'
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
  script:
  - cd transformers
  - cd hello_world && make -B all
  - cd ..
  - cd go_hello_world && make -B all

build:md5:
  when: manual
  stage: build
  tags:
  - ais
  variables:
    GIT_TEST: 'true'
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
  script:
  - cd transformers
  - cd md5 && make -B all

build:tar2tf:
  when: manual
  stage: build
  tags:
  - ais
  variables:
    GIT_TEST: 'true'
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
  script:
  - cd transformers
  - cd tar2tf && make -B all

build:compress:
  when: manual
  stage: build
  tags:
  - ais
  variables:
    GIT_TEST: 'true'
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
  script:
  - cd transformers
  - cd compress && make -B all

build:ffmpeg:
  when: manual
  stage: build
  tags:
  - ais
  variables:
    GIT_TEST: 'true'
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
  script:
  - cd transformers
  - cd ffmpeg && make -B all

build:torchvision:
  when: manual
  stage: build
  tags:
  - ais
  variables:
    GIT_TEST: 'true'
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
  script:
  - cd transformers
  - cd torchvision_preprocess && make -B all

build:keras:
  when: manual
  stage: build
  tags:
  - ais
  variables:
    GIT_TEST: 'true'
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
  script:
  - cd transformers
  - cd keras_preprocess && make -B all

add dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

add GitHub Actions workflow for link checking
  .github/workflows/links-checker.yml
Due: none

Add ETL transformer for splitting audio (Audio Split Consolidate - Part 1)
  transformers/NeMo/audio_split_consolidate/README.md
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_splitter/Makefile
  transformers/NeMo/audio_split_consolidate/audio_splitter/pod.yaml
  transformers/NeMo/audio_split_consolidate/audio_splitter/requirements.txt
  transformers/NeMo/audio_split_consolidate/audio_splitter/server.py
  transformers/NeMo/split_audio/server.py
Due: none

Enhance 'NeMo/FFmpeg Transformer' documentation and add benchmarking script - Add performance section in NeMo/FFmpeg's README.md - Add python benchmarking script
  transformers/NeMo/FFmpeg/README.md
  transformers/NeMo/FFmpeg/benchmark.py
Due: none

Add ETL transformer for consolidating split audios (Audio Split Consolidate - Part 2)
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_manager/Makefile
  transformers/NeMo/audio_split_consolidate/audio_manager/pod.yaml
  transformers/NeMo/audio_split_consolidate/audio_manager/requirements.txt
  transformers/NeMo/audio_split_consolidate/audio_manager/server.py
Due: none

ci: Refactor Docker workflow to improve image build descriptions and update audio split job
  .github/workflows/transformer-docker.yml
Due: none

runtime: update supported python runtime version and build scripts
  runtime/README.md
  runtime/python/builder.sh
Due: none

Add ETL transformer for metadata passing
  .gitlab-ci.yml
  transformers/hash_with_metadata/Dockerfile
  transformers/hash_with_metadata/Makefile
  transformers/hash_with_metadata/README.md
  transformers/hash_with_metadata/pod.yaml
  transformers/hash_with_metadata/requirements.txt
  transformers/hash_with_metadata/server.py
  transformers/tests/test_hash_with_metadata.py
Due: none

refactor: add missing 'Content-Length' header for proper response handling
  runtime/python/server.py
  transformers/echo/main.py
  transformers/md5/server.py
  transformers/tests/test_echo.py
  transformers/tests/test_go_echo.py
  transformers/tests/test_md5.py
Due: build:echo, build:md5

transformer: replace deprecated `etl_meta` with `etl_args` (fix aistore long test)
  .github/workflows/transformer-docker.yml
  .gitlab-ci.yml
  transformers/hash_with_args/Dockerfile
  transformers/hash_with_args/Makefile
  transformers/hash_with_args/README.md
  transformers/hash_with_args/pod.yaml
  transformers/hash_with_args/requirements.txt
  transformers/hash_with_args/server.py
  transformers/hash_with_metadata/README.md
  transformers/tests/requirements.txt
  transformers/tests/test_hash_with_args.py
Due: none

transformers: fix unit tests and refactor
  .gitlab-ci.yml
  transformers/tests/base.py
  transformers/tests/test_compress.py
  transformers/tests/test_echo.py
  transformers/tests/test_face_detection.py
  transformers/tests/test_face_detection_stress.py
  transformers/tests/test_go_echo.py
  transformers/tests/test_hash_with_args.py
  transformers/tests/test_hello_world.py
  transformers/tests/test_hello_world_stress.py
  transformers/tests/test_keras_stress.py
  transformers/tests/test_keras_transformer.py
  transformers/tests/test_md5.py
  transformers/tests/test_tar2tf.py
  transformers/tests/test_torchvision_transformer.py
  transformers/tests/utils.py
  transformers/torchvision_preprocess/Dockerfile
  transformers/torchvision_preprocess/requirements.txt
Due: build:echo, build:hello_world, build:md5, build:tar2tf, build:compress, build:torchvision, build:keras

fix dependabot issues
  .github/workflows/transformer-docker.yml
  transformers/keras_preprocess/Dockerfile
  transformers/keras_preprocess/main.py
  transformers/keras_preprocess/requirements.txt
  transformers/tar2tf/src/go.mod
  transformers/tar2tf/src/go.sum
  transformers/tests/requirements.txt
Due: build:tar2tf, build:keras

Audio Split Transformer: Parse ETL args from query parameters
  .gitlab-ci.yml
  transformers/NeMo/audio_split_consolidate/audio_splitter/Makefile
  transformers/NeMo/audio_split_consolidate/audio_splitter/requirements.txt
  transformers/NeMo/audio_split_consolidate/audio_splitter/server.py
  transformers/tests/test_audio_split.py
Due: none

fix: update links to use 'main' branch instead of 'master'
  .gitlab-ci.yml
  bench/README.md
  transformers/README.md
  transformers/compress/README.md
  transformers/compress/pod.yaml
  transformers/echo/README.md
  transformers/face_detection/README.md
  transformers/hash_with_args/README.md
  transformers/hello_world/README.md
  transformers/keras_preprocess/README.md
  transformers/keras_preprocess/flask-gunicorn/pod.yaml
  transformers/keras_preprocess/http-multithreaded-server/pod.yaml
  transformers/keras_preprocess/pod.yaml
  transformers/torchvision_preprocess/README.md
Due: build:echo, build:hello_world, build:compress, build:torchvision, build:keras

Optimize Audio-Manager-Transformer: fetch data from target, improve ETL args handling & refactor code
  transformers/NeMo/audio_split_consolidate/audio_manager/server.py
Due: none

Add Tests for Audio Split Consolidate Transformer
  .gitlab-ci.yml
  transformers/NeMo/audio_split_consolidate/audio_manager/Makefile
  transformers/NeMo/audio_split_consolidate/audio_manager/server.py
  transformers/NeMo/audio_split_consolidate/audio_splitter/pod.yaml
  transformers/NeMo/audio_split_consolidate/audio_splitter/server.py
  transformers/tests/resources/test-manifest.jsonl
  transformers/tests/test_audio_split_consolidate.py
Due: none

ci: add 'publish' stage for latest image deployment
  .github/workflows/transformer-docker.yml
  .gitlab-ci.yml
Due: none

Audio Split Consolidate ETL: Add 'direct_from_target' and 'max_pool_size' options
  transformers/NeMo/audio_split_consolidate/audio_manager/server.py
  transformers/NeMo/audio_split_consolidate/audio_splitter/server.py
Due: none

fix: initialize Client with 'max_pool_size'
  transformers/NeMo/audio_split_consolidate/audio_manager/server.py
Due: none

Add benchmark script for audio split ETL transformer
  transformers/benchmarks/audio_split_consolidate.py
Due: none

docs: update README for Audio Split Consolidate Transformer
  transformers/NeMo/audio_split_consolidate/README.md
  transformers/NeMo/audio_split_consolidate/audio_manager/pod.yaml
  transformers/NeMo/audio_split_consolidate/audio_split_consolidate_diagram.png
Due: none

build(deps): bump gunicorn from 22.0.0 to 23.0.0
  transformers/hello_world/requirements.txt
  transformers/keras_preprocess/requirements.txt
  transformers/torchvision_preprocess/requirements.txt
Due: build:hello_world, build:torchvision, build:keras

transformer: add websocket support for python echo server
  transformers/echo/main.py
  transformers/echo/pod.yaml
Due: build:echo

gitlab-ci: publish images only on main or schedule
  .gitlab-ci.yml
Due: none

refactor: update echo transformer to use FastAPI Server from aistore sdk
  .gitlab-ci.yml
  transformers/echo/Dockerfile
  transformers/echo/echo_server.py
  transformers/echo/main.py
  transformers/echo/pod.yaml
  transformers/echo/requirements.txt
  transformers/tests/test_echo.py
Due: build:echo

refactor: md5 transformer with HTTPMultiThreadedServer from aistore sdk
  .gitlab-ci.yml
  transformers/md5/Dockerfile
  transformers/md5/Makefile
  transformers/md5/md5_server.py
  transformers/md5/pod_with_fqn.yaml
  transformers/md5/requirements.txt
  transformers/md5/server.py
  transformers/tests/test_md5.py
Due: build:md5

refactor: update hello world transformer to use new FastAPI server implementation
  transformers/hello_world/Dockerfile
  transformers/hello_world/Makefile
  transformers/hello_world/hello_world_server.py
  transformers/hello_world/main.py
  transformers/hello_world/pod.yaml
  transformers/tests/test_hello_world.py
Due: build:hello_world

refactor: follow up * upgrade aistore sdk to v1.13.2
  transformers/echo/Dockerfile
  transformers/echo/requirements.txt
  transformers/hello_world/Dockerfile
  transformers/md5/Dockerfile
Due: build:echo, build:hello_world, build:md5

transformer: implement echo servers using FastAPI, Flask and HTTP
  transformers/echo/Dockerfile
  transformers/echo/Makefile
  transformers/echo/fastapi_server.py
  transformers/echo/flask_server.py
  transformers/echo/http-multithreaded-server/Dockerfile
  transformers/echo/http-multithreaded-server/Makefile
  transformers/echo/http-multithreaded-server/pod.yaml
  transformers/echo/http-multithreaded-server/requirements.txt
  transformers/echo/http-multithreaded-server/server.py
  transformers/echo/http_server.py
  transformers/echo/pod.yaml
  transformers/tests/test_echo.py
Due: build:echo

test: add stress tests for Echo Transformer with multiple server types
  .gitlab-ci.yml
  transformers/tests/const.py
  transformers/tests/stress/__init__.py
  transformers/tests/stress/base_stress.py
  transformers/tests/stress/test_echo_benchmark.py
Due: none

refactor: remove old hello world server implementation and update to FastAPI, Flask, and HTTP servers
  transformers/hello_world/Dockerfile
  transformers/hello_world/README.md
  transformers/hello_world/fastapi_server.py
  transformers/hello_world/flask_server.py
  transformers/hello_world/hello_world_server.py
  transformers/hello_world/http-multithreaded-server/Dockerfile
  transformers/hello_world/http-multithreaded-server/Makefile
  transformers/hello_world/http-multithreaded-server/pod.yaml
  transformers/hello_world/http-multithreaded-server/requirements.txt
  transformers/hello_world/http-multithreaded-server/server.py
  transformers/hello_world/http_server.py
  transformers/hello_world/pod.yaml
  transformers/hello_world/requirements.txt
  transformers/tests/const.py
  transformers/tests/test_echo.py
  transformers/tests/test_hello_world.py
Due: build:echo, build:hello_world

refactor: implement MD5 transformer servers using FastAPI, Flask, and HTTP
  transformers/md5/Dockerfile
  transformers/md5/fastapi_server.py
  transformers/md5/flask_server.py
  transformers/md5/http_server.py
  transformers/md5/pod.yaml
  transformers/md5/pod_with_fqn.yaml
  transformers/tests/const.py
  transformers/tests/test_md5.py
Due: build:md5

transformer: avoid hardcoded volumeMounts to resolve CI mount path issues
  transformers/echo/pod.yaml
  transformers/md5/pod.yaml
Due: build:echo, build:md5

test: add stress tests for Hello World Transformer with multiple server types
  .gitlab-ci.yml
  transformers/tests/base.py
  transformers/tests/const.py
  transformers/tests/stress/base_stress.py
  transformers/tests/stress/test_echo_benchmark.py
  transformers/tests/stress/test_echo_stress.py
  transformers/tests/stress/test_hello_world_stress.py
Due: none

tests: save etl logs in CI
  .gitlab-ci.yml
  transformers/tests/base.py
  transformers/tests/const.py
  transformers/tests/stress/base_stress.py
  transformers/tests/stress/test_hello_world_stress.py
  transformers/tests/test_hello_world.py
  transformers/tests/utils.py
Due: build:hello_world

test: migrate ETL transformer tests to pytest
  .gitignore
  .gitlab-ci.yml
  transformers/tests/conftest.py
  transformers/tests/const.py
  transformers/tests/stress/__init__.py
  transformers/tests/stress/base_stress.py
  transformers/tests/stress/test_echo_stress.py
  transformers/tests/stress/test_hello_world_stress.py
  transformers/tests/test_echo.py
  transformers/tests/test_echo_stress.py
  transformers/tests/test_go_echo.py
  transformers/tests/test_hello_world.py
  transformers/tests/test_md5.py
Due: build:echo, build:hello_world, build:md5

test: add stress tests for MD5 ETL transformer
  .gitlab-ci.yml
  transformers/tests/conftest.py
  transformers/tests/test_md5_stress.py
Due: none

ci: point stress tests to dev cluster instead of local runner
  .gitlab-ci.yml
  transformers/tests/conftest.py
  transformers/tests/const.py
  transformers/tests/test_echo_stress.py
  transformers/tests/test_hello_world_stress.py
  transformers/tests/test_md5_stress.py
Due: none

test: extend stress suite to cover `direct_put` and `WebSocket`
  transformers/echo/Dockerfile
  transformers/echo/pod.yaml
  transformers/hello_world/Dockerfile
  transformers/hello_world/pod.yaml
  transformers/md5/Dockerfile
  transformers/md5/pod.yaml
  transformers/tests/conftest.py
  transformers/tests/const.py
  transformers/tests/requirements.txt
  transformers/tests/test_echo.py
  transformers/tests/test_echo_stress.py
  transformers/tests/test_hello_world.py
  transformers/tests/test_hello_world_stress.py
  transformers/tests/test_md5.py
  transformers/tests/test_md5_stress.py
Due: build:echo, build:hello_world, build:md5

Path conditions:
  build:echo: any of: transformers/echo/**/*, transformers/go_echo/**/*, transformers/tests/test_echo.py, transformers/tests/test_go_echo.py
  build:hello_world: any of: transformers/hello_world/**/*, transformers/go_hello_world/**/*, transformers/tests/test_hello_world.py
  build:md5: any of: transformers/md5/**/*, transformers/tests/test_md5.py
  build:tar2tf: any of: transformers/tar2tf/**/*, transformers/tests/test_tar2tf.py
  build:compress: any of: transformers/compress/**/*, transformers/tests/test_compress.py
  build:ffmpeg: any of: transformers/ffmpeg/**/*, transformers/tests/test_ffmpeg.py
  build:torchvision: any of: transformers/torchvision_preprocess/**/*, transformers/tests/test_torchvision_transformer.py
  build:keras: any of: transformers/keras_preprocess/**/*, transformers/tests/test_keras_transformer.py
