Repository NVIDIA/ais-etl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:echo, build:hello_world, build:md5, build:hash_with_args, build:tar2tf, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_splitter

Path conditions:
  build:echo: any of: transformers/echo/**/*, transformers/go_echo/**/*, transformers/tests/test_echo.py, transformers/tests/test_go_echo.py
  build:hello_world: any of: transformers/hello_world/**/*, transformers/go_hello_world/**/*, transformers/tests/test_hello_world.py
  build:md5: any of: transformers/md5/**/*, transformers/tests/test_md5.py
  build:hash_with_args: any of: transformers/hash_with_args/**/*, transformers/tests/test_hash_with_args.py
  build:tar2tf: any of: transformers/tar2tf/**/*, transformers/tests/test_tar2tf.py
  build:compress: any of: transformers/compress/**/*, transformers/tests/test_compress.py
  build:torchvision: any of: transformers/torchvision_preprocess/**/*, transformers/tests/test_torchvision_transformer.py
  build:keras: any of: transformers/keras_preprocess/**/*, transformers/tests/test_keras_transformer.py
  build:face_detection: any of: transformers/face_detection/**/*, transformers/tests/test_face_detection.py
  build:audio_splitter: any of: transformers/NeMo/audio_split_consolidate/audio_splitter/**/*, transformers/tests/test_audio_split.py

transformers: update keras preprocess transformer to use fast API webserver Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/keras_preprocess/Dockerfile
  transformers/keras_preprocess/Makefile
  transformers/keras_preprocess/README.md
  transformers/keras_preprocess/etl_spec.yaml
  transformers/keras_preprocess/fastapi_server.py
  transformers/keras_preprocess/flask-gunicorn/Dockerfile
  transformers/keras_preprocess/flask-gunicorn/Makefile
  transformers/keras_preprocess/flask-gunicorn/app.py
  transformers/keras_preprocess/flask-gunicorn/pod.yaml
  transformers/keras_preprocess/flask-gunicorn/requirements.txt
  transformers/keras_preprocess/http-multithreaded-server/Dockerfile
  transformers/keras_preprocess/http-multithreaded-server/Makefile
  transformers/keras_preprocess/http-multithreaded-server/pod.yaml
  transformers/keras_preprocess/http-multithreaded-server/requirements.txt
  transformers/keras_preprocess/http-multithreaded-server/server.py
  transformers/keras_preprocess/main.py
  transformers/keras_preprocess/pod.yaml
  transformers/keras_preprocess/requirements.txt
  transformers/tests/const.py
  transformers/tests/test_keras_transformer.py
Due: build:keras

ci: add gitlab lint job for python formatting Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  .gitlab-ci.yml
  Makefile
  runtime/python/bootstrap.py
  scripts/bootstrap.sh
  transformers/FFmpeg/benchmark.py
  transformers/NeMo/audio_split_consolidate/audio_manager/fastapi_server.py
  transformers/NeMo/audio_split_consolidate/audio_splitter/fastapi_server.py
  transformers/batch_rename/fastapi_server.py
  transformers/benchmarks/audio_split_consolidate.py
  transformers/compress/fastapi_server.py
  transformers/face_detection/fastapi_server.py
  transformers/hash_with_args/server.py
  transformers/keras_preprocess/fastapi_server.py
  transformers/tests/requirements.txt
  transformers/tests/test_compress.py
  transformers/tests/test_compress_unit.py
  transformers/tests/test_echo.py
  transformers/tests/test_face_detection.py
  transformers/tests/test_ffmpeg.py
  transformers/tests/test_keras_transformer.py
  transformers/torchvision_preprocess/fastapi_server.py
  transformers/torchvision_preprocess/http-multithreaded-server/server.py
Due: build:echo, build:hash_with_args, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_splitter

fix: replace string check in ErrFileNotExists with errors.Is() Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/tar2tf/src/cmn/cmn.go
Due: build:tar2tf

tests: refactor ETL factory -- use new init method Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/tests/conftest.py
  transformers/tests/const.py
  transformers/tests/requirements.txt
  transformers/tests/test_audio_split.py
  transformers/tests/test_audio_split_consolidate.py
  transformers/tests/test_batch_rename.py
  transformers/tests/test_compress.py
  transformers/tests/test_echo.py
  transformers/tests/test_echo_stress.py
  transformers/tests/test_face_detection.py
  transformers/tests/test_ffmpeg.py
  transformers/tests/test_hash_with_args.py
  transformers/tests/test_hello_world.py
  transformers/tests/test_hello_world_stress.py
  transformers/tests/test_keras_transformer.py
  transformers/tests/test_md5.py
  transformers/tests/test_md5_stress.py
  transformers/tests/test_torchvision_transformer.py
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_splitter

gitlab-ci: enforce lint as mandatory prerequisite for build/test stages
  .gitlab-ci.yml
Due: none

tests: fix logging to display "fqn" for arg_type Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/tests/test_echo_stress.py
  transformers/tests/test_ffmpeg.py
  transformers/tests/test_hello_world_stress.py
  transformers/tests/test_md5_stress.py
Due: none

dependabot(fix): update Pillow deps
  transformers/face_detection/requirements.txt
  transformers/torchvision_preprocess/requirements.txt
Due: build:torchvision, build:face_detection

docs: fix broken links
  README.md
  bench/README.md
  docs/README.md
  transformers/echo/README.md
  transformers/md5/README.md
Due: build:echo, build:md5

gitlab-ci: use internal registry for testing
  .github/workflows/runtime-docker.yml
  .gitlab-ci.yml
  runtime/python/Makefile
  transformers/FFmpeg/Makefile
  transformers/NeMo/audio_split_consolidate/audio_manager/Makefile
  transformers/NeMo/audio_split_consolidate/audio_splitter/Makefile
  transformers/batch_rename/Makefile
  transformers/compress/Makefile
  transformers/echo/Makefile
  transformers/face_detection/Makefile
  transformers/go_FFmpeg/Makefile
  transformers/go_echo/Makefile
  transformers/go_hello_world/Makefile
  transformers/hash_with_args/Makefile
  transformers/hello_world/Makefile
  transformers/keras_preprocess/Makefile
  transformers/md5/Makefile
  transformers/tar2tf/Makefile
  transformers/tests/base.py
  transformers/tests/conftest.py
  transformers/torchvision_preprocess/Makefile
  transformers/torchvision_preprocess/http-multithreaded-server/Makefile
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:tar2tf, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_splitter

transformers: concurrent parquet parser ETL transformer
  .gitlab-ci.yml
  transformers/parquet-parser/Dockerfile
  transformers/parquet-parser/Makefile
  transformers/parquet-parser/README.md
  transformers/parquet-parser/etl_spec.yaml
  transformers/parquet-parser/src/go.mod
  transformers/parquet-parser/src/go.sum
  transformers/parquet-parser/src/main.go
  transformers/parquet-parser/src/parser.go
  transformers/parquet-parser/src/parser_test.go
Due: none

gitlab-ci: update parquet-parser job optional and non-blocking Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  .gitlab-ci.yml
Due: none

transformers: update NeMo to use debug output in logs Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/NeMo/audio_split_consolidate/audio_manager/fastapi_server.py
Due: none

transformers: remove verbose debug logging and use default INFO logging level Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/FFmpeg/fastapi_server.py
  transformers/FFmpeg/flask_server.py
  transformers/FFmpeg/http_server.py
  transformers/NeMo/audio_split_consolidate/audio_splitter/fastapi_server.py
  transformers/batch_rename/fastapi_server.py
  transformers/echo/fastapi_server.py
  transformers/echo/flask_server.py
  transformers/echo/http_server.py
  transformers/hello_world/fastapi_server.py
  transformers/hello_world/flask_server.py
  transformers/hello_world/http_server.py
  transformers/md5/fastapi_server.py
  transformers/md5/flask_server.py
  transformers/md5/http_server.py
Due: build:echo, build:hello_world, build:md5, build:audio_splitter

transformers: up go mod/sum
  transformers/go_FFmpeg/src/go.mod
  transformers/go_FFmpeg/src/go.sum
  transformers/go_echo/src/go.mod
  transformers/go_echo/src/go.sum
  transformers/go_hello_world/src/go.mod
  transformers/go_hello_world/src/go.sum
  transformers/parquet-parser/src/go.mod
  transformers/parquet-parser/src/go.sum
Due: build:echo, build:hello_world

transformers: parser integration test;minor fixes
  .gitlab-ci.yml
  transformers/README.md
  transformers/parquet-parser/README.md
  transformers/parquet-parser/etl_spec.yaml
  transformers/tests/requirements.txt
  transformers/tests/test_parquet_parser.py
Due: none

transformer: update aistore ETL webserver version for py-based transformers
  runtime/python/Dockerfile
  transformers/FFmpeg/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/batch_rename/Dockerfile
  transformers/compress/Dockerfile
  transformers/echo/Dockerfile
  transformers/hash_with_args/Dockerfile
  transformers/hello_world/Dockerfile
  transformers/md5/Dockerfile
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:compress, build:audio_splitter

ci: add runtime-python publish job
  .gitlab-ci.yml
Due: none

docs: add beta notice to README
  README.md
Due: none

runtime/python: implement restricted unpickler for ETL class deserialization
  runtime/python/Dockerfile
  runtime/python/bootstrap.py
  runtime/python/server.py
Due: none

runtime/python: revert to using cloudpickle for deserialization
  runtime/python/Dockerfile
  runtime/python/bootstrap.py
  runtime/python/server.py
Due: none

docs: follow-up
  README.md
Due: none

transformers: update py-based ETL webservers for new FQN handling
  runtime/python/Dockerfile
  transformers/FFmpeg/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/batch_rename/Dockerfile
  transformers/compress/Dockerfile
  transformers/echo/Dockerfile
  transformers/hash_with_args/Dockerfile
  transformers/hello_world/Dockerfile
  transformers/md5/Dockerfile
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:compress, build:audio_splitter

transformers: update Go-based webserver dependency to support FQN qparam
  transformers/go_FFmpeg/src/go.mod
  transformers/go_FFmpeg/src/go.sum
  transformers/go_echo/src/go.mod
  transformers/go_echo/src/go.sum
  transformers/go_hello_world/src/go.mod
  transformers/go_hello_world/src/go.sum
  transformers/tests/test_hello_world.py
Due: build:echo, build:hello_world

transformers/FFmpeg: extend audio transformation options
  transformers/FFmpeg/etl_spec.yaml
  transformers/FFmpeg/fastapi_server.py
  transformers/FFmpeg/flask_server.py
  transformers/FFmpeg/http_server.py
Due: none

transformer: upgrade Go-based servers with pipeline support
  transformers/go_FFmpeg/Dockerfile
  transformers/go_FFmpeg/src/go.mod
  transformers/go_FFmpeg/src/go.sum
  transformers/go_FFmpeg/src/main.go
  transformers/go_FFmpeg/src/main_test.go
  transformers/go_echo/Dockerfile
  transformers/go_echo/src/go.mod
  transformers/go_echo/src/go.sum
  transformers/go_echo/src/main.go
  transformers/go_hello_world/Dockerfile
  transformers/go_hello_world/src/go.mod
  transformers/go_hello_world/src/go.sum
  transformers/go_hello_world/src/main.go
  transformers/tests/test_hello_world.py
Due: build:echo, build:hello_world

runtime/python: raise file descriptor soft limit in container entrypoint
  runtime/python/Dockerfile
Due: none

runtime: update python runtime image to enable direct file access
  .gitlab-ci.yml
  runtime/python/Dockerfile
Due: none

transformers: bump aistore dependency to >=1.21.1
  .gitlab-ci.yml
  runtime/python/Dockerfile
  transformers/FFmpeg/Dockerfile
  transformers/FFmpeg/fastapi_server.py
  transformers/FFmpeg/flask_server.py
  transformers/FFmpeg/http_server.py
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/batch_rename/Dockerfile
  transformers/benchmarks/audio_split_consolidate.py
  transformers/compress/Dockerfile
  transformers/echo/Dockerfile
  transformers/face_detection/requirements.txt
  transformers/hash_with_args/Dockerfile
  transformers/hello_world/Dockerfile
  transformers/keras_preprocess/requirements.txt
  transformers/md5/Dockerfile
  transformers/tests/requirements.txt
  transformers/torchvision_preprocess/http-multithreaded-server/server.py
  transformers/torchvision_preprocess/requirements.txt
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_splitter

transformers/ffmpeg: support direct file access via ETL_DIRECT_FQN
  transformers/FFmpeg/README.md
  transformers/FFmpeg/etl_spec.yaml
  transformers/FFmpeg/fastapi_server.py
  transformers/FFmpeg/flask_server.py
  transformers/FFmpeg/http_server.py
  transformers/tests/test_ffmpeg.py
Due: none

transformers: bump aistore dependency to >=1.22.0
  runtime/python/Dockerfile
  transformers/FFmpeg/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/batch_rename/Dockerfile
  transformers/compress/Dockerfile
  transformers/echo/Dockerfile
  transformers/face_detection/requirements.txt
  transformers/hash_with_args/Dockerfile
  transformers/hello_world/Dockerfile
  transformers/keras_preprocess/requirements.txt
  transformers/md5/Dockerfile
  transformers/tests/requirements.txt
  transformers/torchvision_preprocess/requirements.txt
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_splitter

transformers/audio-manager: document TLS and auth environment variables
  transformers/NeMo/audio_split_consolidate/README.md
  transformers/NeMo/audio_split_consolidate/audio_manager/etl_spec.yaml
Due: none

transformers/audio-manager: use streaming transform for constant-memory TAR output
  transformers/NeMo/audio_split_consolidate/audio_manager/fastapi_server.py
  transformers/tests/test_audio_split_consolidate.py
Due: none

transformers/audio-manager: bump aistore dependency to >=1.22.1
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
Due: none

tar2tf: fix CI build and test failures
  .gitlab-ci.yml
  transformers/tar2tf/Dockerfile
  transformers/tests/test_tar2tf.py
Due: build:tar2tf

github-ci: add dependabot label to Dependabot updates
  .github/dependabot.yml
Due: none

transformers: bump deps (torch to >=2.10.0 + torchvision to >=0.25.0)
  transformers/torchvision_preprocess/http-multithreaded-server/requirements.txt
  transformers/torchvision_preprocess/requirements.txt
Due: build:torchvision

transformers: pin unversioned Python deps to latest with >=
  transformers/compress/requirements.txt
  transformers/face_detection/requirements.txt
  transformers/hash_with_args/requirements.txt
  transformers/tests/requirements.txt
  transformers/torchvision_preprocess/http-multithreaded-server/requirements.txt
Due: build:hash_with_args, build:compress, build:torchvision, build:face_detection

transformers: bump torch + torchvision deps (security)
  transformers/torchvision_preprocess/http-multithreaded-server/requirements.txt
  transformers/torchvision_preprocess/requirements.txt
Due: build:torchvision

transformers: bump aistore[etl] to >=1.24.0
  runtime/python/Dockerfile
  transformers/FFmpeg/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/batch_rename/Dockerfile
  transformers/compress/Dockerfile
  transformers/echo/Dockerfile
  transformers/face_detection/requirements.txt
  transformers/hash_with_args/Dockerfile
  transformers/hello_world/Dockerfile
  transformers/keras_preprocess/requirements.txt
  transformers/md5/Dockerfile
  transformers/tests/requirements.txt
  transformers/torchvision_preprocess/requirements.txt
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_splitter
