Repository NVIDIA/ais-etl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:echo, build:hello_world, build:md5, build:hash_with_args, build:tar2tf, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_splitter

Path conditions:
  build:echo: any of: transformers/echo/**/*, transformers/go_echo/**/*, transformers/tests/test_echo.py, transformers/tests/test_go_echo.py
  build:hello_world: any of: transformers/hello_world/**/*, transformers/go_hello_world/**/*, transformers/tests/test_hello_world.py
  build:md5: any of: transformers/md5/**/*, transformers/tests/test_md5.py
  build:hash_with_args: any of: transformers/hash_with_args/**/*, transformers/tests/test_hash_with_args.py
  build:tar2tf: any of: transformers/tar2tf/**/*, transformers/tests/test_tar2tf.py
  build:compress: any of: transformers/compress/**/*, transformers/tests/test_compress.py
  build:torchvision: any of: transformers/torchvision_preprocess/**/*, transformers/tests/test_torchvision_transformer.py
  build:keras: any of: transformers/keras_preprocess/**/*, transformers/tests/test_keras_transformer.py
  build:face_detection: any of: transformers/face_detection/**/*, transformers/tests/test_face_detection.py
  build:audio_splitter: any of: transformers/NeMo/audio_split_consolidate/audio_splitter/**/*, transformers/tests/test_audio_split.py

Implement FFmpeg ETL transformer with FastAPI, Flask, and HTTP server support
  .gitlab-ci.yml
  transformers/FFmpeg/Dockerfile
  transformers/FFmpeg/Makefile
  transformers/FFmpeg/README.md
  transformers/FFmpeg/benchmark.py
  transformers/FFmpeg/fastapi_server.py
  transformers/FFmpeg/flask_server.py
  transformers/FFmpeg/http_server.py
  transformers/FFmpeg/pod.yaml
  transformers/NeMo/FFmpeg/Dockerfile
  transformers/NeMo/FFmpeg/pod.yaml
  transformers/NeMo/FFmpeg/pod_with_fqn.yaml
  transformers/NeMo/FFmpeg/requirements.txt
  transformers/NeMo/FFmpeg/server.py
  transformers/tests/conftest.py
  transformers/tests/const.py
  transformers/tests/test_ffmpeg.py
Due: none

transformer: support direct put in `go_echo` etl transformer
  .gitlab-ci.yml
  transformers/go_echo/.dockerignore
  transformers/go_echo/Dockerfile
  transformers/go_echo/pod.yaml
  transformers/go_echo/src/cmn.go
  transformers/go_echo/src/go.mod
  transformers/go_echo/src/go.sum
  transformers/go_echo/src/main.go
  transformers/go_echo/src/main_test.go
  transformers/tests/conftest.py
  transformers/tests/const.py
  transformers/tests/test_echo.py
  transformers/tests/test_echo_stress.py
Due: build:echo

ci: add publish job for FFmpeg transformer
  .gitlab-ci.yml
Due: none

transformer: add audio format validation in FFmpeg servers
  transformers/FFmpeg/fastapi_server.py
  transformers/FFmpeg/flask_server.py
  transformers/FFmpeg/http_server.py
Due: none

test: add stress test for FFmpeg transformer
  .gitlab-ci.yml
  transformers/tests/conftest.py
  transformers/tests/test_ffmpeg.py
Due: none

transformer: add local benchmark for FFmpeg
  transformers/tests/local_benchmark/ffmpeg_benchmark.py
Due: none

test: enhance echo stress tests with additional assertions for object size and content
  transformers/tests/test_echo.py
  transformers/tests/test_echo_stress.py
Due: build:echo

transformer: update Go-based ETLs to use generic webserver framework
  transformers/go_echo/.dockerignore
  transformers/go_echo/Dockerfile
  transformers/go_echo/pod.yaml
  transformers/go_echo/src/cmn.go
  transformers/go_echo/src/go.mod
  transformers/go_echo/src/main.go
  transformers/go_echo/src/main_test.go
  transformers/go_hello_world/Dockerfile
  transformers/go_hello_world/src/go.mod
  transformers/go_hello_world/src/go.sum
  transformers/go_hello_world/src/main.go
Due: build:echo, build:hello_world

gitlab-ci: update image + replace runners
  .gitlab-ci.yml
  transformers/FFmpeg/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/compress/Dockerfile
  transformers/echo/Dockerfile
  transformers/face_detection/Dockerfile
  transformers/face_detection/pod.yaml
  transformers/go_echo/Dockerfile
  transformers/go_hello_world/Dockerfile
  transformers/hash_with_args/Dockerfile
  transformers/hello_world/Dockerfile
  transformers/hello_world/pod.yaml
  transformers/keras_preprocess/Dockerfile
  transformers/keras_preprocess/flask-gunicorn/Dockerfile
  transformers/keras_preprocess/http-multithreaded-server/Dockerfile
  transformers/md5/Dockerfile
  transformers/md5/pod.yaml
  transformers/tar2tf/Dockerfile
  transformers/tests/const.py
  transformers/tests/test_face_detection.py
  transformers/tests/test_keras_transformer.py
  transformers/torchvision_preprocess/Dockerfile
  transformers/torchvision_preprocess/http-multithreaded-server/Dockerfile
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:tar2tf, build:compress, build:torchvision, build:keras, build:face_detection, build:audio_splitter

gitlab-ci: update publish stage docker login
  .gitlab-ci.yml
Due: none

transformer: refactor HashWithArgs ETL transformer + tests
  transformers/hash_with_args/Dockerfile
  transformers/hash_with_args/fastapi_server.py
  transformers/hash_with_args/flask_server.py
  transformers/hash_with_args/http_server.py
  transformers/hash_with_args/pod.yaml
  transformers/tests/conftest.py
  transformers/tests/const.py
  transformers/tests/test_hash_with_args.py
Due: build:hash_with_args

transformer: update audio splitter to use FastAPI
  .gitlab-ci.yml
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_splitter/fastapi_server.py
  transformers/NeMo/audio_split_consolidate/audio_splitter/pod.yaml
  transformers/NeMo/audio_split_consolidate/audio_splitter/requirements.txt
  transformers/NeMo/audio_split_consolidate/audio_splitter/server.py
  transformers/tests/const.py
  transformers/tests/test_audio_split.py
Due: build:audio_splitter

transformer: update audio manager to use FastAPI
  .gitlab-ci.yml
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_manager/fastapi_server.py
  transformers/NeMo/audio_split_consolidate/audio_manager/pod.yaml
  transformers/NeMo/audio_split_consolidate/audio_manager/requirements.txt
  transformers/NeMo/audio_split_consolidate/audio_manager/server.py
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/tests/conftest.py
  transformers/tests/const.py
  transformers/tests/resources/test-manifest.jsonl
  transformers/tests/test_audio_split.py
  transformers/tests/test_audio_split_consolidate.py
Due: build:audio_splitter

transformers: add batch rename transformer for pattern-based object rewriting
  .gitlab-ci.yml
  transformers/batch_rename/Dockerfile
  transformers/batch_rename/Makefile
  transformers/batch_rename/README.md
  transformers/batch_rename/fastapi_server.py
  transformers/batch_rename/pod.yaml
  transformers/tests/conftest.py
  transformers/tests/const.py
  transformers/tests/test_batch_rename.py
Due: none

transformer: update FastAPI server command to disable access logs
  transformers/FFmpeg/pod.yaml
  transformers/NeMo/audio_split_consolidate/audio_manager/pod.yaml
  transformers/NeMo/audio_split_consolidate/audio_splitter/pod.yaml
  transformers/batch_rename/pod.yaml
  transformers/echo/pod.yaml
  transformers/hash_with_args/pod.yaml
  transformers/hello_world/pod.yaml
  transformers/md5/pod.yaml
  transformers/tests/const.py
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:audio_splitter

transformer/audio-manager: remove timeout from Client
  transformers/NeMo/audio_split_consolidate/audio_manager/fastapi_server.py
Due: none

transformer: Go-based FFmpeg transformer using generic webserver
  .gitlab-ci.yml
  transformers/go_FFmpeg/Dockerfile
  transformers/go_FFmpeg/Makefile
  transformers/go_FFmpeg/pod.yaml
  transformers/go_FFmpeg/src/go.mod
  transformers/go_FFmpeg/src/go.sum
  transformers/go_FFmpeg/src/main.go
  transformers/go_FFmpeg/src/main_test.go
  transformers/tests/const.py
  transformers/tests/test_echo.py
  transformers/tests/test_echo_stress.py
  transformers/tests/test_ffmpeg.py
Due: build:echo

transformers(refactor): update import paths for server classes
  transformers/FFmpeg/fastapi_server.py
  transformers/FFmpeg/flask_server.py
  transformers/FFmpeg/http_server.py
  transformers/md5/fastapi_server.py
  transformers/md5/flask_server.py
  transformers/md5/http_server.py
Due: build:md5

runtime: refactor python runtimes (`init code`)
  runtime/python/Dockerfile
  runtime/python/bootstrap.py
  runtime/python/builder.sh
  runtime/python/server.py
Due: none

ci: add runtime-python build job
  .gitlab-ci.yml
Due: none

runtime/python: fix 'isinstance' usage; update AIStore version in Dockerfile
  runtime/python/Dockerfile
  runtime/python/bootstrap.py
Due: none

transformers: update MD5 hashing to return raw digest instead of hexadecimal
  transformers/md5/fastapi_server.py
  transformers/md5/flask_server.py
  transformers/md5/http_server.py
Due: build:md5

transformers: add default ETL spec and ENTRYPOINT for all transformers
  transformers/FFmpeg/Dockerfile
  transformers/FFmpeg/README.md
  transformers/FFmpeg/etl_spec.yaml
  transformers/NeMo/audio_split_consolidate/README.md
  transformers/NeMo/audio_split_consolidate/audio_manager/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_manager/etl_spec.yaml
  transformers/NeMo/audio_split_consolidate/audio_splitter/Dockerfile
  transformers/NeMo/audio_split_consolidate/audio_splitter/etl_spec.yaml
  transformers/batch_rename/Dockerfile
  transformers/batch_rename/README.md
  transformers/batch_rename/etl_spec.yaml
  transformers/batch_rename/pod.yaml
  transformers/echo/Dockerfile
  transformers/echo/README.md
  transformers/echo/etl_spec.yaml
  transformers/echo/pod.yaml
  transformers/go_FFmpeg/Dockerfile
  transformers/go_FFmpeg/etl_spec.yaml
  transformers/go_FFmpeg/pod.yaml
  transformers/go_echo/Dockerfile
  transformers/go_echo/etl_spec.yaml
  transformers/go_hello_world/Dockerfile
  transformers/go_hello_world/etl_spec.yaml
  transformers/hash_with_args/Dockerfile
  transformers/hash_with_args/README.md
  transformers/hash_with_args/etl_spec.yaml
  transformers/hello_world/Dockerfile
  transformers/hello_world/README.md
  transformers/hello_world/etl_spec.yaml
  transformers/md5/Dockerfile
  transformers/md5/etl_spec.yaml
Due: build:echo, build:hello_world, build:md5, build:hash_with_args, build:audio_splitter

md5_transformer and hello_world_transformer
  transformers/hello_world/README.md
  transformers/md5/README.md
Due: build:hello_world, build:md5

ffmpeg_transformer: follow-up
  .gitlab-ci.yml
  transformers/FFmpeg/etl_spec.yaml
  transformers/FFmpeg/pod.yaml
Due: none

hash_with_args_transformer: add runtime-spec instructions Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/hash_with_args/README.md
Due: build:hash_with_args

echo_transformer: add runtime-spec instructions and quick-test example Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/echo/README.md
Due: build:echo

fix: FFmpeg transformer ETL runtime spec typo
  transformers/FFmpeg/etl_spec.yaml
Due: none

transformers: updated docs with transformers and runtime example Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/README.md
Due: none

docs: fix init command for hello-world transformer Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/hello_world/README.md
Due: build:hello_world

docs: ais-etl/README detailing repo structure and setup Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  README.md
Due: none

docs: update init command and remove yaml file initialization Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/hello_world/README.md
Due: build:hello_world

runtime/python: support installing OS‐level packages in ETL containers
  runtime/python/bootstrap.py
Due: none

runtime: add a default entrypoint for the python container
  runtime/python/Dockerfile
Due: none

docs(runtime/python): add Python ETL runtime container README with init_class usage
  runtime/README.md
Due: none

add code formatting commands (fmt-check and fmt-fix) Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  Makefile
  scripts/bootstrap.sh
Due: none

transformers: update compress to use new etl webserver framework Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/compress/Dockerfile
  transformers/compress/Makefile
  transformers/compress/README.md
  transformers/compress/etl_spec.yaml
  transformers/compress/fastapi_server.py
  transformers/compress/pod.yaml
  transformers/compress/server.py
  transformers/tests/const.py
  transformers/tests/test_compress.py
  transformers/tests/test_compress_unit.py
Due: build:compress

transformers: fix hello-world pod spec
  transformers/hello_world/README.md
  transformers/hello_world/pod.yaml
Due: build:hello_world

transformers: update face_detection to FastApi server Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/face_detection/Dockerfile
  transformers/face_detection/Makefile
  transformers/face_detection/etl_spec.yaml
  transformers/face_detection/fastapi_server.py
  transformers/face_detection/main.py
  transformers/face_detection/requirements.txt
  transformers/tests/const.py
  transformers/tests/test_face_detection.py
Due: build:face_detection

transformers: update torchvision_preprocess to use new etl webserver framework Signed-off-by: Anshika Ojha <anshikao@nvidia.com>
  transformers/tests/const.py
  transformers/tests/test_torchvision_transformer.py
  transformers/torchvision_preprocess/Dockerfile
  transformers/torchvision_preprocess/Makefile
  transformers/torchvision_preprocess/README.md
  transformers/torchvision_preprocess/etl_spec.yaml
  transformers/torchvision_preprocess/fastapi_server.py
  transformers/torchvision_preprocess/main.py
  transformers/torchvision_preprocess/pod.yaml
  transformers/torchvision_preprocess/requirements.txt
Due: build:torchvision
