Repository NVIDIA/ais-etl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:echo, build:hello_world, build:md5, build:tar2tf, build:compress, build:ffmpeg, build:torchvision, build:keras

Path conditions:
  build:echo: any of: transformers/echo/**/*, transformers/go_echo/**/*, tests/test_echo.py, tests/test_go_echo.py
  build:hello_world: any of: transformers/hello_world/**/*, transformers/go_hello_world/**/*, tests/test_hello_world.py
  build:md5: any of: transformers/md5/**/*, tests/test_md5.py
  build:tar2tf: any of: transformers/tar2tf/**/*, tests/test_tar2tf.py
  build:compress: any of: transformers/compress/**/*, tests/test_compress.py
  build:ffmpeg: any of: transformers/ffmpeg/**/*, tests/test_ffmpeg.py
  build:torchvision: any of: transformers/torchvision_preprocess/**/*, tests/test_torchvision_transformer.py
  build:keras: any of: transformers/keras_preprocess/**/*, tests/test_keras_transformer.py

echo transformer using fastapi+gunicorn+uvicorn
  transformers/echo/Dockerfile
  transformers/echo/README.md
  transformers/echo/http-multithreaded-server/Dockerfile
  transformers/echo/http-multithreaded-server/Makefile
  transformers/echo/http-multithreaded-server/pod.yaml
  transformers/echo/http-multithreaded-server/requirements.txt
  transformers/echo/http-multithreaded-server/server.py
  transformers/echo/main.py
  transformers/echo/requirements.txt
Due: build:echo

ci: refactoring fixes
  .github/workflows/transformer-docker.yml
  .gitlab-ci.yml
  transformers/Makefile
Due: none

fixing hello world transformer
  transformers/hello_world/main.py
Due: build:hello_world

ci: fix concurrent job failure (unique bucket name)
  transformers/tests/base.py
Due: none

tests/transformers: increase torchvision init_spec timeout (large image)
  transformers/tests/test_torchvision_transformer.py
Due: none

gitlab ci changes
  .gitlab-ci.yml
Due: none

remove docker-in-docker for gitlab ci
  .gitlab-ci.yml
Due: none

torchvision fast-api transition
  transformers/tests/test_torchvision_transformer.py
  transformers/torchvision_preprocess/Dockerfile
  transformers/torchvision_preprocess/http-multithreaded-server/Dockerfile
  transformers/torchvision_preprocess/http-multithreaded-server/Makefile
  transformers/torchvision_preprocess/http-multithreaded-server/pod.yaml
  transformers/torchvision_preprocess/http-multithreaded-server/requirements.txt
  transformers/torchvision_preprocess/http-multithreaded-server/server.py
  transformers/torchvision_preprocess/main.py
  transformers/torchvision_preprocess/requirements.txt
Due: build:torchvision

torchvision transfor fixes
  transformers/tests/test_torchvision_transformer.py
Due: none

gitlab-ci fixes for ffmpeg transformer
  .github/workflows/transformer-docker.yml
  .gitlab-ci.yml
  transformers/ffmpeg/Dockerfile
Due: build:ffmpeg

github workflow fixes for ffmpeg
  .github/workflows/transformer-docker.yml
Due: none

fixing GET for flask based keras-preprocess transformer
  transformers/keras_preprocess/flask-gunicorn/app.py
  transformers/keras_preprocess/flask-gunicorn/pod.yaml
  transformers/keras_preprocess/pod.yaml
Due: build:keras

functional stress test for keras transformer
  .gitlab-ci.yml
  transformers/tests/test_keras_stress.py
Due: none

hello world stress test
  .gitlab-ci.yml
  transformers/tests/test_hello_world_stress.py
  transformers/tests/test_keras_stress.py
Due: none

fixing response for /health
  bench/http-server/server.py
  runtime/python/io-comm/main.go
  runtime/python/server.py
  transformers/compress/server.py
  transformers/echo/http-multithreaded-server/server.py
  transformers/echo/main.py
  transformers/ffmpeg/server.py
  transformers/go_echo/src/main.go
  transformers/go_hello_world/src/main.go
  transformers/hello_world/http-multithreaded-server/server.py
  transformers/hello_world/main.py
  transformers/keras_preprocess/flask-gunicorn/app.py
  transformers/keras_preprocess/http-multithreaded-server/server.py
  transformers/md5/server.py
  transformers/tar2tf/src/main.go
  transformers/torchvision_preprocess/http-multithreaded-server/server.py
  transformers/torchvision_preprocess/main.py
Due: build:echo, build:hello_world, build:md5, build:tar2tf, build:compress, build:ffmpeg, build:torchvision, build:keras

fqn arg_type for hello world transformer
  .gitlab-ci.yml
  transformers/hello_world/main.py
  transformers/hello_world/pod.yaml
  transformers/hello_world/requirements.txt
  transformers/tests/test_hello_world.py
  transformers/tests/test_hello_world_stress.py
Due: build:hello_world

transformer/hello_world: set default for ARG_TYPE
  transformers/hello_world/pod.yaml
Due: build:hello_world

build: transition to Go 1.21
  bench/go-http-server/go.mod
  transformers/README.md
  transformers/go_echo/Dockerfile
  transformers/go_echo/src/go.mod
  transformers/go_hello_world/Dockerfile
  transformers/go_hello_world/src/go.mod
  transformers/tar2tf/Dockerfile
  transformers/tar2tf/src/go.mod
  transformers/tar2tf/src/go.sum
Due: build:echo, build:hello_world, build:tar2tf

transformer/hello_world: unit test fixes
  transformers/tests/test_hello_world.py
  transformers/tests/test_hello_world_stress.py
Due: none

keras_transformer: added fqn for fastapi based server
  transformers/keras_preprocess/main.py
  transformers/keras_preprocess/pod.yaml
  transformers/tests/test_keras_stress.py
  transformers/tests/test_keras_transformer.py
Due: build:keras

minor: increase stress test timeout
  .gitlab-ci.yml
Due: none

python version fix for tensorflow and torchvision
  transformers/keras_preprocess/Dockerfile
  transformers/keras_preprocess/main.py
  transformers/keras_preprocess/requirements.txt
  transformers/torchvision_preprocess/Dockerfile
  transformers/torchvision_preprocess/requirements.txt
Due: build:torchvision, build:keras

github-ci: update pipeline for transfomers
  .github/workflows/transformer-docker.yml
  transformers/Makefile
  transformers/tests/base.py
  transformers/tests/test_compress.py
  transformers/tests/test_echo.py
  transformers/tests/test_ffmpeg.py
  transformers/tests/test_go_echo.py
  transformers/tests/test_keras_transformer.py
  transformers/tests/test_md5.py
  transformers/tests/test_tar2tf.py
  transformers/tests/test_torchvision_transformer.py
Due: none

github-ci: fix for tests path
  .github/workflows/transformer-docker.yml
Due: none

github-ci: fix workflow_dispatch and image size issues
  .github/workflows/transformer-docker.yml
Due: none

transformer: face detection (bounding box) using SSD model
  .github/workflows/transformer-docker.yml
  .gitignore
  .gitlab-ci.yml
  transformers/face_detection/Dockerfile
  transformers/face_detection/Makefile
  transformers/face_detection/README.md
  transformers/face_detection/main.py
  transformers/face_detection/pod.yaml
  transformers/face_detection/requirements.txt
  transformers/face_detection/sample/output_face_detection.png
  transformers/tests/requirements.txt
  transformers/tests/resources/test-face-detection.png
  transformers/tests/test_face_detection.py
  transformers/tests/test_face_detection_stress.py
Due: none

github-ci: follow up on face-detection test
  .github/workflows/transformer-docker.yml
Due: none

github-ci: follow up on kaggle model download
  .github/workflows/transformer-docker.yml
Due: none

follow up: github ci kaggle fix
  .github/workflows/transformer-docker.yml
Due: none

transformer: fix face-detection tests in github
  .github/workflows/transformer-docker.yml
  .gitlab-ci.yml
  transformers/tests/test_face_detection.py
Due: none

transformer/face_detection: add support for webdataset style format
  transformers/face_detection/Dockerfile
  transformers/face_detection/README.md
  transformers/face_detection/main.py
  transformers/face_detection/pod.yaml
  transformers/face_detection/requirements.txt
  transformers/tests/test_face_detection.py
  transformers/tests/test_face_detection_stress.py
Due: none

transformer: dependabot issue fix
  .github/workflows/transformer-docker.yml
  transformers/face_detection/requirements.txt
Due: none

transformers: Update Pillow dependency to latest
  transformers/keras_preprocess/requirements.txt
  transformers/torchvision_preprocess/requirements.txt
Due: build:torchvision, build:keras

dependabot fix
  .gitlab-ci.yml
  transformers/echo/requirements.txt
  transformers/face_detection/requirements.txt
  transformers/hello_world/requirements.txt
  transformers/keras_preprocess/requirements.txt
  transformers/tests/test_torchvision_transformer.py
  transformers/torchvision_preprocess/requirements.txt
Due: build:echo, build:hello_world, build:torchvision, build:keras

dependabot: fix #16
  transformers/tar2tf/src/go.mod
  transformers/tar2tf/src/go.sum
Due: build:tar2tf

dependabot: fix #18, #19, #23, #24 and #25
  transformers/echo/main.py
  transformers/face_detection/main.py
  transformers/hello_world/requirements.txt
  transformers/keras_preprocess/main.py
  transformers/keras_preprocess/requirements.txt
  transformers/tests/requirements.txt
  transformers/tests/test_keras_transformer.py
  transformers/torchvision_preprocess/main.py
  transformers/torchvision_preprocess/requirements.txt
Due: build:echo, build:hello_world, build:torchvision, build:keras

add nemo-ffmpeg transformer
  transformers/NeMo/FFMPEG/Dockerfile
  transformers/NeMo/FFMPEG/Makefile
  transformers/NeMo/FFMPEG/README.md
  transformers/NeMo/FFMPEG/pod.yaml
  transformers/NeMo/FFMPEG/pod_with_fqn.yaml
  transformers/NeMo/FFMPEG/requirements.txt
  transformers/NeMo/FFMPEG/server.py
Due: none

add FFmpeg docker pipeline
  .github/workflows/transformer-docker.yml
Due: none

Remove outdated FFmpeg transformer and refactor NeMo/FFmpeg
  .github/workflows/transformer-docker.yml
  .gitlab-ci.yml
  transformers/NeMo/FFmpeg/Dockerfile
  transformers/NeMo/FFmpeg/Makefile
  transformers/NeMo/FFmpeg/README.md
  transformers/NeMo/FFmpeg/pod.yaml
  transformers/NeMo/FFmpeg/pod_with_fqn.yaml
  transformers/NeMo/FFmpeg/requirements.txt
  transformers/NeMo/FFmpeg/server.py
  transformers/README.md
  transformers/ffmpeg/Dockerfile
  transformers/ffmpeg/Makefile
  transformers/ffmpeg/README.md
  transformers/ffmpeg/pod.yaml
  transformers/ffmpeg/requirements.txt
  transformers/ffmpeg/server.py
  transformers/tests/requirements.txt
  transformers/tests/test_ffmpeg.py
Due: build:ffmpeg

add transformer for splitting audio files
  .github/workflows/transformer-docker.yml
  transformers/NeMo/split_audio/Dockerfile
  transformers/NeMo/split_audio/Makefile
  transformers/NeMo/split_audio/README.md
  transformers/NeMo/split_audio/pod.yaml
  transformers/NeMo/split_audio/requirements.txt
  transformers/NeMo/split_audio/server.py
Due: none
